.button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  position: absolute;
  left: 10px;
}

.pccase {
  width: 800px;
  height: 600px;
  top: 300px;
}

.mistoProZakladniDesku {
  width: 350px;
  height: 300px;
  position: absolute;
  left: 1000px;
  top: 400px;
  z-index: 2;
}

.zakladniDeska {
  width: 120px;
  height: 100px;
  position: absolute;
  top: 300px;
  left: 50px;
  z-index: 3;
  background: url("../../Images/zakladni_deska.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition:
    top 0.5s ease,
    left 0.5s ease,
    width 0.5s ease,
    height 0.5s ease;
}

.zakladniDeska img {
    position: relative;
}


.mistoProProcesor {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 1180px;
  top: 450px;
  z-index: 4;
}

.procesor {
  width: 120px;
  height: 100px;
  position: absolute;
  top: 150px;
  left: 50px;
  z-index: 3;
  background: url("../../Images/cpu.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition:
    top 0.5s ease,
    left 0.5s ease,
    width 0.5s ease,
    height 0.5s ease;
}

.procesor img {
    position: relative;
}


.instruction {
  position: absolute;
  top: 40px;
  left: 50%;
  font-size: 28px;
  color: white;
  padding: 12px 24px;
  z-index: 10;
}

.planktonGuide {
  position: absolute;
  bottom: 20px;
  right: 40px;
  width: 180px;
}

